<h2>Welcome to Pizza Shop!!!</h2>

<div class="row">

	<% @products.each do |p| %>
	<div class="col-md-4">
		<div>
			<img src="<%= p.path_to_image %>">
		</div>
		<div>	
			<a href=""><%= p.title %></a>
		</div>
		<div>	
			Описание: <%= p.description %>
		</div>
		<div>	
			Размер: <%= p.size %> см
		</div>
		<div>
			Цена: <%= p.price %> рублей
		</div>
		<div>
			<button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
		</div>	
	</div>
	<% end %>	

</div>	

<br/>

<button class="btn btn-primary" onclick="something()">Click me!</button>				
			